# Xcode
build/
DerivedData/
*.xcworkspace/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
Packages/
.build/

# Cocoapods
Pods/

# Carthage
Carthage/

# Other
*.dSYM.zip
*.ipa

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
iOSInjectionProject/
